# Requerimientos para SpaceX Capstone Project

# Ciencia de datos y ML
pandas
numpy
scikit-learn
joblib

# Visualización
matplotlib
seaborn

# MLOps
dvc

# Opcional: para reproducibilidad y gráficos interactivos
jupyter
